@import 'tailwindcss/components';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'victormono';

body {
  background-color: white;
  color: black;
  font-family: 'Victor Mono', monospace;
}
