@import 'tailwindcss/components';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body {
  font-family: 'Outfit', sans-serif;
}

body.light {
  background-color: white;
  color: #121212;
}

body.dark {
  background-color: #121212;
  color: white;
}

/* CSS rule that applies to any child, grandchild, etc of body.dark with the class "lightdarkbtn" */
body.dark .lightdarkbtn > * {
  background-color: white;
  color: #121212;
}

/* CSS rule that applies to any child, grandchild, etc of body.light with the class "lightdarkbtn" */
body.light .lightdarkbtn > * {
  background-color: #121212;
  color: white;
}