@import 'tailwindcss/components';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Outfit&family=Victor+Mono&display=swap');

body {
  font-family: 'Victor Mono', monospace !important;
  font-size: 16px;
  line-height: 1.5;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #121212;
}

::-webkit-scrollbar-thumb {
  background-color: #3b82f6;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3b82f6;
}

::-webkit-scrollbar-track {
  background-color: #121212;
}

body.light {
  background-color: white;
  color: #121212;
}

body.dark {
  background-color: #121212;
  color: white;
}

/* CSS rule that applies to any child, grandchild, etc of body.dark with the class "lightdarkbtn" */
body.dark .lightdarkbtn>* {
  background-color: white;
  color: #121212;
}

/* CSS rule that applies to any child, grandchild, etc of body.light with the class "lightdarkbtn" */
body.light .lightdarkbtn>* {
  background-color: #121212;
  color: white;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-text {
  position: absolute;
  top: calc(-100% - 50px);
  padding: 10px;
  border-radius: 4px;
  z-index: 1;
  background-color: #121212;
  color: white;
}

body.dark .tooltip-text {
  background-color: white;
  color: #121212;
}
